.products-all-content{
  padding-top: 5%;
  background-color: #ecf0f3;
}

.products-text{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.products-all-table{
  padding: 2%;
  width: 50%;

}

.product-cover{
  display: flex;
  flex-wrap: wrap;

}

.product-sttng{
  // padding: 3%;
  // margin-top: 5px;
  // height: 100%;
  // border: 2px;
  // width: 100%;
  // border: 1px solid;
  // border-radius: 5px;
  padding: 48px 64px;
    border-radius: 16px;
    background: #ecf0f3;
    box-shadow:
      4px 4px 4px 0px #d1d9e6 inset,
      -4px -4px 4px 0px #ffffff inset;
    margin: 2%;
}

.product-sttng:hover{
  border-radius: 15px;
  transition: 0.5s;
  box-shadow: -4px -2px 4px 2px #acb0b8, 6px 4px 10px 2px #acb0b8;
  transition: 1s;
}

.prdct-text{
  padding: 0.5%;
  width: 100%;
}

.product-logo{
  width: 100%;
  height: 200px;
  text-align: center;
}

.product-title{
  float: left;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  padding-left: 1%;
  padding-top: 1%;
  min-width: 200px;
}

.product-contnt{
  font-size: medium;
  width: 100%;
  padding-top: 1%;
}

.product-name{
  padding-left: 1%;
  color: blue;
  font-weight: bolder;
  float: left;
  min-width: 200px;
}

.product-name-contnt{
  color: rgb(110, 110, 172);
  font-weight: bold;
}

.borders{
  display: flex;
  width: 100%;
}

.prod-url{
  text-align: right;
  margin: 5px;
}